<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bazzi.manager.mapper.MenuMapper">
    <resultMap id="menu" type="com.bazzi.manager.model.Menu">
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_url" jdbcType="VARCHAR" property="menuUrl"/>
        <result column="menu_type" jdbcType="INTEGER" property="menuType"/>
        <result column="page_url" jdbcType="VARCHAR" property="pageUrl"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, menu_name, menu_url, menu_type, page_url, icon, pid, weight, version, create_user,
      create_time, update_user, update_time
    </sql>
    <select id="findMenuByUserId" parameterType="java.lang.Integer" resultMap="menu">
        select m.*
        from menu m left join user_menu um on m.id = um.menu_id
        where um.user_id = #{userId}
    </select>
    <update id="update" parameterType="menu">
        update menu
        <set>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuUrl != null">
                menu_url = #{menuUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                menu_type = #{menuType,jdbcType=INTEGER},
            </if>
            <if test="pageUrl != null">
                page_url = #{pageUrl,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=INTEGER},
            </if>
            version = #{version,jdbcType=INTEGER} + 1 ,
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER} and version = #{version,jdbcType=INTEGER}
    </update>
</mapper>
