<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty name="LOG_PATH" source="logging.path" defaultValue="/export/data/logs"/>
    <springProperty name="LOG_NAME" source="spring.application.name" defaultValue="manager"/>
    <springProperty name="LOG_LEVEL" source="logging.level.root" defaultValue="INFO"/>
    <springProperty name="MAX_HISTORY" source="logging.file.max-history" defaultValue="7"/>
    <springProperty name="LOG_CHARSET" source="logging.charset" defaultValue="UTF-8"/>

    <!--时间|日志级别|线程名|ip|请求uri|平台|渠道|app版本号|设备唯一标识|机型|uToken|token|请求流水号|类名|方法名|日志消息，%n是换行符  -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|%thread|%logger{20}|%M|%msg%n"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- debug logger -->
    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/debug/${LOG_NAME}-debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <immediateFlush>true</immediateFlush>
            <charset>${LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/debug/${LOG_NAME}.%d{yyyy-MM-dd-HH}-debug.log.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- info logger -->
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/info/${LOG_NAME}-info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <immediateFlush>true</immediateFlush>
            <charset>${LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/info/${LOG_NAME}.%d{yyyy-MM-dd-HH}-info.log.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- error logger -->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error/${LOG_NAME}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <immediateFlush>true</immediateFlush>
            <charset>${LOG_CHARSET}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error/${LOG_NAME}.%d{yyyy-MM-dd-HH}-error.log.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 异步日志配置 -->
    <appender name="debugAsync" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="debugAppender" />
    </appender>

    <appender name="infoAsync" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="infoAppender" />
    </appender>

    <appender name="errorAsync" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>3000</discardingThreshold>
        <queueSize>10000</queueSize>
        <appender-ref ref="errorAppender" />
    </appender>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver" level="INFO" />
    <logger name="org.springframework.web.servlet.mvc.method.annotation" level="ERROR" />
    <logger name="ch.qos.logback" level="INFO" />
    <logger name="org.mybatis.spring.mapper.MapperScannerConfigurer" level="INFO" />
    <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="ERROR" />
    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="INFO" />
    <logger name="org.apache.commons.httpclient.HttpClient" level="INFO" />
    <logger name="org.apache.commons.httpclient" level="INFO" />
    <logger name="org.apache.commons.httpclient.HttpConnection" level="INFO" />
    <logger name="org.apache.http.client.protocol" level="INFO" />
    <logger name="org.apache.ibatis.logging.LogFactory" level="INFO" />
    <logger name="org.apache.commons.beanutils" level="INFO" />
    <logger name="org.apache.http.headers" level="INFO" />
    <logger name="java.sql.ResultSet" level="INFO" />
    <!-- Spring-data-redis日志 -->
    <logger name="org.springframework.data.redis" level="INFO"/>
    <logger name="io.lettuce.core" level="INFO"/>
    <!--kafka-->
    <logger name="org.apache.kafka" level="INFO" />
    <logger name="org.springframework.kafka" level="INFO" />
    <logger name="org.apache.kafka.clients.consumer.internals.AbstractCoordinator" level="ERROR" />
    <logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="ERROR" />
    <logger name="org.springframework.kafka.listener.KafkaMessageListenerContainer" level="ERROR" />
    <!--swagger-->
    <logger name="springfox.documentation.schema" level="ERROR" />
    <logger name="springfox.documentation.schema.property" level="ERROR" />
    <logger name="springfox.documentation.schema.property.bean" level="ERROR" />
    <logger name="springfox.documentation.swagger.readers.operation" level="ERROR" />
    <logger name="springfox.documentation.spring.web" level="ERROR" />
    <logger name="springfox.documentation.spring.web.plugins" level="ERROR" />
    <logger name="springfox.documentation.spring.web.scanners" level="ERROR" />
    <logger name="springfox.documentation.spring.web.readers.operation" level="ERROR" />
    <!--zookeeper-->
    <logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="org.I0Itec.zkclient" level="ERROR" />

    <!-- 日志输出级别 -->
    <root level='property("logging.level.root")'>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="debugAsync"/>
        <appender-ref ref="infoAsync"/>
        <appender-ref ref="errorAsync"/>
    </root>
</configuration>
